### NULL RETURN TYPE

In [4]:
# If you do not specify a return value, the function returns None when it terminates:
def f(x):
    x+1 # no return
    if x == 999:
        return
print(f(0))

None

In [6]:
## Optional & Required Arguments
# Sometimes it is convenient to have default values for some arguments in a function. Because they have default values, these arguments are optional, and are hence called “optional arguments”. 

def repeat_string(s,n=2):
    return s*n

In [8]:
repeat_string("mds",2)

'mdsmds'

In [10]:
repeat_string("ra",5)

'rarararara'

In [12]:
repeat_string("ab")
# Ideally, the default value for optional arguments should be carefully chosen. In the function above, the idea of “repeating” something makes me think of having 2 copies, so n=2 feels like a reasonable default

'abab'

## You can have any number of required arguments and any number of optional arguments. All the optional arguments must come after the required arguments. The required arguments are mapped by the order they appear. The optional arguments can be specified out of order when using the function.

In [15]:
def example(a,b, c="DEFAULT", d="DEFAULT"):
    print(a,b,c,d)

example(1,2,3,4)

1 2 3 4

In [17]:
example(1,2)

1 2 DEFAULT DEFAULT

In [19]:
# Specifying c and d as keyword arguments (i.e. by name):
example(1,2, c=3,d=4)

1 2 3 4

In [21]:
# Specifying only one of the optional arguments, by keyword:
example(a=1, b=2, c=3, d=4)

1 2 3 4

In [23]:
# Specifying c by the fact that it comes 3rd (I do not recommend this because I find it is confusing):
example(1,2,d=4,c=3)

1 2 3 4

In [25]:
# Specifying the non-optional arguments by keyword (I am fine with this):
example(a=1, b=2)

1 2 DEFAULT DEFAULT

In [27]:
# Specifying the non-optional arguments by keyword, but in the wrong order (not recommended, I find it confusing):
example(b=2, a=1)

1 2 DEFAULT DEFAULT

In [29]:
# Specifying keyword arguments before non-keyword arguments (this throws an error):
example(a=2,1)

SyntaxError: positional argument follows keyword argument (2214878887.py, line 2)

## Multiple Return Values¶
#### In many programming languages, functions can only return one object. That is technically true in Python too, but there is a “workaround”, which is to return a tuple.

In [32]:
def sum_and_product(x,y):
    return (x+y, x*y)

In [34]:
sum_and_product(5,6)

(11, 30)

## The parentheses can be omitted (and often are), and a tuple is implicitly returned as defined by the use of the comma:

In [37]:
def sum_and_product(x,y):
    return x+y,x*y

In [39]:
sum_and_product(5,6)

(11, 30)

### It is common to immediately unpack a returned tuple into separate variables, so it really feels like the function is returning multiple values:

In [44]:
s, p = sum_and_product(5, 6)
s

11

In [46]:
p

30

In [48]:
# As an aside, it is conventional in Python to use _ for values you don’t want
s, _ = sum_and_product(5, 6)
s

11

## Functions with Arbitrary Number of Arguments
### You can also call/define functions that accept an arbitrary number of positional or keyword arguments using *args and **kwargs.

In [51]:
def add(*args):
    print(args)
    return sum(args)

In [53]:
add(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

21

In [55]:
def add(**kwargs):
    print(kwargs)
    return sum(kwargs.values())

In [58]:
add(a=3, b=4, c=5)

{'a': 3, 'b': 4, 'c': 5}

12