## Function

#### A function is a reusable piece of code that can accept input parameters, also known as "arguments". For example let's define a function called square which takes one input paramter n and returns the square n**2:

In [3]:
def square(n):
    n_squared = n**2
    return n_squared

In [5]:
square(2)

4

##### Functions begin with the def keyword, then the fuction name, arguments in parentheses, and then a colon(:), The code executed by the function is define by indentation. The output or "return" value of the function is specified using the return keyword

### Side Effect & Local Varibables 

#### When you create a variable inside a function, it is local, whoch means that it only  exists inside the function for example

In [15]:
def cat_string(str1,str2):
    string = str1 + str2
    return string

In [17]:
cat_string("My name is ","TOM")

'My name is TOM'

In [19]:
string

NameError: name 'string' is not defined

In [21]:
def silly_sum(my_list):
    my_list.append(0)
    return sum(my_list)

In [25]:
l = [1,2,3,4]
out = silly_sum(l)
out

10

#### Null REturn Type
##### if you do not specify a return value,the function returns None when it terminates:

In [28]:
def f(x):
    x + 1 #no return!
    if x == 999:
        return 

print(f(0))

None

### Optional & Required Arguments
#### sometimes it is convenient to have default values for some arguments in a function. Because they have default values, these arguments are optional, and are hence called “optional arguments”. For example:

In [31]:
def repeat_string(s, n =2):
    return s*n

In [33]:
repeat_string("mds",2)

'mdsmds'

In [35]:
repeat_string("mds",5)

'mdsmdsmdsmdsmds'

In [37]:
def example(a,b,c="DEFAULT", d="DEFAULT"):
    print(a,b,c,d)

example(1,2,3,4)

1 2 3 4

In [39]:
example(1,2)

1 2 DEFAULT DEFAULT

In [41]:
example(1, 2, c=3, d=4)

1 2 3 4

In [43]:
example(1, 2, c=3)

1 2 3 DEFAULT

In [45]:
example(a=1, b=2, c=3, d=4)

1 2 3 4

In [47]:
example(1, 2, 3)

1 2 3 DEFAULT

## Multiple Return Values

In [50]:
def sum_and_product(x, y):
    return (x + y, x * y)

In [52]:
sum_and_product(5, 6)

(11, 30)

In [54]:
def sum_and_product(x, y):
    return x + y, x * y

In [56]:
sum_and_product(5, 6)

(11, 30)

### Functions with Arbitrary Number of Arguments

In [59]:
def add(*args):
    print(args)
    return sum(args)

In [61]:
add(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

21

In [63]:
def add(**kwargs):
    print(kwargs)
    return sum(kwargs.values())

In [65]:
add(a=3, b=4, c=5)

{'a': 3, 'b': 4, 'c': 5}

12